.section {
	margin: calc(var(--baseline) * 3) 0;
	&__outline {
		.heading {
			width: 20rem;
			font-weight: 888;
			margin-top: var(--baseline);
			margin-bottom: 0;
			max-width: 100%;
			line-height: calc(var(--baseline) * 1.5);
			@media only screen and (min-width: 48rem) {
				position: -webkit-sticky;
				position: sticky;
				top: var(--baseline);
				text-align: right;
			}
			@media only screen and (max-width: 48rem) {
				@include poly-fluid-sizing("font-size", type-scale(3));
			}
		}
	}
}

.people {
	margin: 0 0 var(--baseline);
	&.hero {
		display: flex;
		flex-direction: column;
		justify-items: stretch;
		align-items: center;
		@media only screen and (min-width: 48rem) {
			display: grid;
			grid-template-columns: 1fr 1.5fr;
			grid-column-gap: calc(var(--gap) * 2);
		}
		.people__avatar {
			min-height: 400px;
			img {
				height: 400px;
			}
		}
	}
	&__avatar {
		position: relative;
		background: #e50914;
		overflow: hidden;
		border-radius: var(--radius);
		margin-bottom: var(--baseline);
		min-height: 280px;
		img {
			display: block;
			margin: 0;
			width: 100%;
			height: auto;
			object-fit: cover;

			-webkit-filter: grayscale(100%) contrast(1.2);
			filter: grayscale(100%) contrast(1.2);
			mix-blend-mode: darken;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			// -webkit-filter: contrast(1.3);
			// filter: contrast(1.3);
			// mix-blend-mode: hue;
			background: #0c087d;
			mix-blend-mode: lighten !important;
			-webkit-filter: contrast(1.1) !important;
			filter: contrast(1.1) !important;
		}
	}
	&__name {
		margin-bottom: calc(var(--baseline) / 2);
		font-weight: 900;
		line-height: 1;
		word-break: break-word;
	}
	&__subject {
		margin-bottom: calc(var(--baseline) / 2);
	}
	&__bio {
		font-weight: 350;
		color: var(--light-gray-color);
		font-size: 1rem;
		line-height: 1.5;
		word-break: break-word;
	}
	&__social {
		margin-bottom: 1px;
		.icon {
			margin-right: 0.5em;
		}
	}
}
.clients {
	margin: 0;
	&__avatar {
		position: relative;
		background: #e50914;
		overflow: hidden;
		border-radius: var(--radius);
		margin-bottom: 0;
		min-height: 50px;
		width: 50px;
		img {
			display: block;
			margin: 0;
			width: 100%;
			height: auto;
			object-fit: cover;

			-webkit-filter: grayscale(100%) contrast(1.2);
			filter: grayscale(100%) contrast(1.2);
			mix-blend-mode: darken;
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			// -webkit-filter: contrast(1.3);
			// filter: contrast(1.3);
			// mix-blend-mode: hue;
			background: #0c087d;
			mix-blend-mode: lighten !important;
			-webkit-filter: contrast(1.1) !important;
			filter: contrast(1.1) !important;
		}
	}
}
.Grid {
	display: flex;
	flex-direction: column;
	@media only screen and (min-width: 48rem) {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: calc(var(--gap) * 3);
		grid-template-areas: ". .";
	}
}

.location {
	position: relative;
	background-image: url("/static/images/hall.jpg");
	background-size: cover;
	background-position: center;
	background-color: var(--black-color);
	min-height: 40rem;
	@media only screen and (min-width: 48rem) {
		height: 80vh;
	}
	&__query {
		position: absolute;
		bottom: 0;
		width: 33.3%;
		padding: var(--gap);
		background: var(--background-color);
		@media only screen and (max-width: 48rem) {
			position: relative;
			width: 100%;
		}
		h3 {
			font-weight: 800;
			line-height: 1.2;
		}
	}
}
.surprise {
	position: relative;
	background-image: url("/static/images/surprise.jpg");
	background-size: cover;
	background-position: center;
	background-color: var(--black-color);
	min-height: 40rem;
	@media only screen and (min-width: 48rem) {
		height: 80vh;
	}
	&__query {
		position: absolute;
		bottom: 0;
		width: 33.3%;
		padding: var(--gap);
		background: var(--background-color);
		@media only screen and (max-width: 48rem) {
			position: relative;
			width: 100%;
		}
		h3 {
			font-weight: 800;
			line-height: 1.2;
		}
	}
}
.talk {
	position: relative;
	background-image: url("/static/images/talking.jpg");
	background-size: cover;
	background-position: center;
	background-color: var(--black-color);
	min-height: 40rem;
	@media only screen and (min-width: 48rem) {
		height: 80vh;
	}
	&__query {
		position: absolute;
		bottom: 0;
		width: 33.3%;
		padding: var(--gap);
		background: var(--background-color);
		@media only screen and (max-width: 48rem) {
			position: relative;
			width: 100%;
		}
		h3 {
			font-weight: 800;
			line-height: 1.2;
		}
	}
}
.sponsors--item {
	position: relative;
	margin: 0;
	margin-bottom: 1.5rem;
	a {
		display: block;
	}
}

.sponsors--item-image {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	object-fit: cover;
	object-position: 50% 50%;
	filter: grayscale(1);
	opacity: 0.6;
	transition: 0.3s;

	&:hover {
		opacity: 1;
	}
}

.sponsors--item-title {
	display: block;
	margin: 0.25em auto 0;
	color: var(--foreground-color);
	text-align: center;
}

.sponsors--item-type {
	display: block;
	font-size: 0.85em;
	margin: 0 auto 0;
	text-align: center;
}

.ticket {
	position: relative;
	background-color: var(--black-color);
	background-image: url("/static/images/ticket.jpg");
	background-size: cover;
	background-position: center;
	min-height: 40rem;
	height: 50vh;
	// background-image: linear-gradient(to right top, #dd51a0, #d26abd, #c381d3, #b395e3, #a7a7ec, #99b4f6, #8cc0fb, #83cbfe, #67d7ff, #49e1ff, #37ebf7, #43f4e8);
}
.ticket--card {
	text-align: center;
	width: 36rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0 4.5rem;
	max-width: 100%;
	color: var(--gray-color);
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 0 2rem 50px rgba(50, 60, 90, 0.13);
	z-index: 11;
	h2 {
		margin-top: var(--baseline);
		font-weight: 900;
		color: #5232ea;
		letter-spacing: -0.05em;
		font-size: 3rem;
		margin: 0 0 var(--baseline);
		small {
			opacity: 0.9;
			text-transform: uppercase;
			font-size: 0.5em;
			position: relative;
			bottom: 4px;
			left: 5px;
			font-weight: 700;
			letter-spacing: -0.025em;
		}
	}
	h2.offer {
		position: relative;
		font-size: 1.5em;
		margin: 0 auto;
		display: table;
		color: var(--gray-color);
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			height: 1px;
			width: 100%;
			background-color: currentColor;
			left: 0;
			right: 0;
		}
	}
	.btn {
		padding: 0.75rem 5rem !important;
		margin: 0 auto;
	}
	&:before {
		content: " ";
		display: block;
		background: rgba(#fff, 1);
		border-radius: 0.5rem;
		position: absolute;
		left: 1.7rem;
		top: -0.7rem;
		width: calc(100% - 3.4rem);
		height: calc(100% + 1.4rem);
		z-index: -1;
		box-shadow: 0 2rem 50px rgba(50, 60, 90, 0.13);
	}
	&:after {
		content: " ";
		display: block;
		background: rgba(#fff, 1);
		border-radius: 0.5rem;
		position: absolute;
		left: 3rem;
		top: -2rem;
		width: calc(100% - 6rem);
		height: calc(100% + 4rem);
		z-index: -1;
		box-shadow: 0 2rem 50px rgba(50, 60, 90, 0.13);
	}
}

.footer {
	margin: 10vh 0 5vh;
	.container {
		padding-top: 4vh;
		border-top: 1px solid rgba(#eee, 0.1);
	}
	.footer-logo {
		display: inline-block;
		&.space {
			margin-left: 20px;
		}
		img {
			max-width: 150px;
			height: auto;
		}
	}

	._logo {
		margin-bottom: 1vh;
	}
	p {
		width: 45rem;
		color: var(--light-gray-color);
		max-width: 100%;
	}
	.socials {
		a {
			color: var(--light-gray-color);
			&:hover {
				color: var(--secondary-color);
			}
		}
		.icon {
			margin-right: 0.75em;
		}
	}
}

