@import "./modules/colors.scss";
@import "./modules/grid.scss";
@import "./modules/typography.scss";
// @import "../node_modules/normalize.css/normalize.css";

html,
body {
	margin: 0;
	padding: 0;
	background: var(--background-color);
	color: var(--foreground-color);
}
.fixed.btn {
	position: fixed;
	top: 0;
	z-index: 99999;
	width: 100%;
	border-radius: 0 !important;
	padding: 1rem 1.5rem !important;
	text-align: center;
	display: none !important;
}
.fixed.btn.show {
	display: block !important;
}
* {
	outline: 0;
}

::selection {
	background-color: var(--secondary-color);
	color: #fff;
}

@import "./pages/index.scss";
@import "./modules/timetable.scss";
